PORT=3000

# PostgreSQL online no Railway
DATABASE_URL=postgresql://postgres:SUA_SENHA@SEU_HOST_RAILWAY:5432/railway
PGSSL_DISABLE=false
PG_POOL_MAX=10

# Envio de e-mail para codigo de verificacao com SendGrid
EMAIL_FROM=Site ML <seu-remetente-verificado@seudominio.com>
EMAIL_APP_NAME=Site ML
SENDGRID_API_KEY=sua-nova-api-key-sendgrid
EMAIL_VERIFICATION_EXP_MINUTES=10

# Google Login opcional
GOOGLE_CLIENT_ID=

# Pagamentos
PAYMENT_API_URL=https://api.ironpayapp.com.br/api/public/v1
PAYMENT_API_KEY=
PAYMENT_PIX_ENDPOINT=/transactions
IRONPAY_OFFER_HASH=
IRONPAY_PRODUCT_HASH=
IRONPAY_POSTBACK_URL=https://seu-app.up.railway.app/ironpay
IRONPAY_EXPIRE_IN_DAYS=1
DEFAULT_PHONE_NUMBER=21999999999
DEFAULT_STATE=RJ
DEFAULT_NEIGHBORHOOD=Centro
ALLOW_MOCK_PIX=false
IRONPAY_WEBHOOK_SECRET=
